body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.4s;
}

body.wrong {
    background-color: #ffcccc;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

body.cadeau {
    background-image: url("image_coeur.jpg.jpg");
    background-repeat: repeat;
    background-size: 25% 25%; /* 4 x 4 = 16 */
}


label {
    display: block;
    margin: 10px 0;
}


body.good {
    background-image: url("image_vrai.jpg");
    background-size: cover;
    background-position: center;
}

body.bad {
    background-image: url("image_fausse.jpg");
    background-size: cover;
    background-position: center;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

#next-btn {
    margin-top: 20px;
    display: none;
}
