body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.4s;
}

body.wrong {
    background-color: #ffcccc;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
/*
body.cadeau {
    background-image: url("image_coeur.jpg");
    background-repeat: repeat;
    background-size: 8% 22%;
}*/

.mosaique {
    position: fixed;
    inset: 0;
    display: grid;

    /* MAGIC LINE 👇 */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: minmax(120px, 1fr);

    z-index: -1;
}

.mosaique div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



label {
    display: block;
    margin: 10px 0;
}


body.good {
    background-image: url("connecte.JPG");
    background-size: cover;
    background-position: center;
}

body.bad {
    background-image: url("pas_content.jpg");
    background-size: cover;
    background-position: center;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

#next-btn {
    margin-top: 20px;
    display: none;
}
