body.good {
    background-image: url("image_vrai.jpg");
    background-size: cover;
    background-position: center;
}

body.bad {
    background-image: url("image_fausse.jpg");
    background-size: cover;
    background-position: center;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

#next-btn {
    margin-top: 20px;
    display: none;
}
